{% block sw_cms_element_custom_product_slider_preview %}
    <div class="sw-cms-el-preview-custom-product-slider">
        <sw-icon
            name="regular-chevron-left"
            size="10"
        />
        <sw-cms-custom-product-box-preview :has-text="false" />
        <sw-icon
            name="regular-chevron-right"
            size="10"
        />
    </div>
{% endblock %}
