{% block sw_cms_block_custom_product_video_description_listing %}
    <div class="sw-cms-block-custom-product-video-description-listing">
        <slot name="leftAuthor">
            {% block sw_cms_block_custom_product_video_description_listing_left_author %}{% endblock %}
        </slot>
        <slot name="rightFirst">
            {% block sw_cms_block_custom_product_video_description_listing_right_first %}{% endblock %}
        </slot>
    </div>
{% endblock %}
