<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_blog_text_image %}
    <div class="sw-cms-block-blog-text-image">
        <slot name="left">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_block_blog_text_image_slot_left %}{% endblock %}
        </slot>
        <slot name="right">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_block_blog_text_image_slot_right %}{% endblock %}
        </slot>
    </div>
{% endblock %}
