<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_custom_product_box_preview %}
    <div
        class="sw-cms-custom-product-box-preview"
        :class="{ 'has--text': hasText }"
    >

        <div class="sw-cms-custom-product-box-preview__image">
            <img
                :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
                alt=""
            >
        </div>

        <div v-if="hasText">
            <div class="sw-cms-custom-product-box-preview__name">
                Custom Product
            </div>

            <div class="sw-cms-custom-product-box-preview__description">
                This is custom product slider...
            </div>

            <div class="sw-cms-custom-product-box-preview__price">
                20 €
            </div>
        </div>

        <div class="sw-cms-custom-product-box-preview__action">
            Add to cart
        </div>
    </div>
{% endblock %}
