{% block sw_cms_block_custom_youtube_video_preview %}
    <div class="sw-cms-preview-custom-youtube-video">
        <img
            class="sw-cms-preview-custom-youtube-video__img"
            :src="'/administration/static/img/cms/preview_youtube.jpg' | asset"
            alt=""
        >
        <img
            class="sw-cms-preview-custom-youtube-video__icon"
            :src="'/administration/static/img/cms/youtube-icon.png' | asset"
            alt=""
        >
    </div>
{% endblock %}
