{%  block sw_blog_category_list %}
    <sw-page class="sw-blog-category-list">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_blog_category_list_search_bar %}
            <template #search-bar>
                <sw-search-bar
                    initial-search-type="Blog Category"
                    :initial-search="term"
                    @search="onSearch"
                />
            </template>
        {% endblock %}

        {% block sw_blog_category_list_smart_bar_header %}
            <template #smart-bar-header>
                {% block sw_blog_category_list_smart_bar_header_title %}
                    <h2>
                        {% block sw_blog_category_list_smart_bar_header_title_text %}
                            {{ $tc('sw-blog-category.list.textBlogCategoryOverview') }}
                        {% endblock %}

                        {% block sw_blog_category_list_smart_bar_header_amount %}
                            <span
                                v-if="!isLoading"
                                class="sw-page__smart-bar-amount"
                            >
                ({{ total }})
            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {#   Action Buttons     #}
        {% block sw_blog_category_list_actions %}
            <template #smart-bar-actions>

                {% block sw_blog_category_list_smart_bar_actions %}
                    <sw-button
                        v-tooltip.bottom="{
                message: $tc('sw-privileges.tooltip.warning'),
                disabled: acl.can('blog_category.creator'),
                showOnDisabledElements: true
            }"
                        :router-link="{ name: 'sw.blog.category.create' }"
                        :disabled="!acl.can('blog_category.creator')"
                        class="sw-blog_category-list__add-blog-category"
                        variant="primary"
                    >
                        {{ $tc('sw-blog-category.list.buttonAddBlogCategory') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}
        {#  Language Selection      #}
        {% block sw_blog_category_list_language_switch %}
            <template #language-switch>
                <sw-language-switch @on-change="onChangeLanguage" />
            </template>
        {% endblock %}
        {#    List of blog category    #}
        <template #content>

            {% block sw_blog_category_list_content %}
                <div class="sw-blog-category-list__content">

                    {% block sw_blog_category_list_grid %}
                        <sw-entity-listing
                            v-if="entitySearchable"
                            class="sw-blog-category-list__grid"
                            detail-route="sw.blog.category.detail"
                            :is-loading="isLoading"
                            :columns="blogCategoryColumns"
                            :repository="blogCategoryRepository"
                            :items="blogCategories"
                            :criteria-limit="limit"
                            :sort-by="currentSortBy"
                            :sort-direction="sortDirection"
                            :disable-data-fetching="true"
                            :allow-edit="acl.can('blog_category.editor')"
                            :allow-inline-edit="acl.can('blog_category.editor')"
                            :allow-delete="acl.can('blog_category.deleter')"
                            :show-selections="acl.can('blog_category.deleter')"
                            identifier="sw-blog-category-list"
                            @update-records="updateTotal"
                            @page-change="onPageChange"
                            @column-sort="onSortColumn"
                        >
                        </sw-entity-listing>
                    {% endblock %}


                    {% block sw_blog_category_list_empty_state %}
                        <sw-empty-state
                            v-if="!isLoading && !total && isValidTerm(term)"
                            :title="$tc('sw-empty-state.messageNoResultTitle')"
                        >
                            <template #default>
                                {{ $tc('sw-empty-state.messageNoResultSublineBefore') }}
                                <router-link
                                    class="sw-empty-state__description-link"
                                    :to="{ name: 'sw.profile.index.searchPreferences' }"
                                >
                                    {{ $tc('sw-empty-state.messageNoResultSublineLink') }}
                                </router-link>
                                {{ $tc('sw-empty-state.messageNoResultSublineAfter') }}
                            </template>
                        </sw-empty-state>
                    {% endblock %}

                    {% block sw_blog_category_list_grid_loader %}{% endblock %}
                </div>
            {% endblock %}

        </template>
    </sw-page>
{%  endblock %}
