{% block sw_cms_block_custom_product_video_description_listing_preview %}
    <div class="sw-cms-preview-custom-product-video-description-listing">
        <div class="sw-cms-preview-custom-product-video-description__image">
            <img
                :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                alt=""
            >
        </div>
        <div class="sw-cms-preview-custom-product-video-description__image__overlay"></div>
        <div class="sw-cms-preview-custom-product-video-description-listing__content">
            <div class="sw-cms-preview-custom-product-video-description-listing__text">
                <p>I served as administrator of the Royal Navy and Member of Parliament. </p>
            </div>
        </div>
        <div class="sw-cms-preview-custom-product-video-description-listing__video_description">
            <sw-cms-custom-product-video-description-preview />
        </div>
    </div>
{% endblock %}
