{% block sw_cms_element_custom_product_video_description_preview %}
    <div class="sw-cms-el-preview-custom-product-video-description">
        <div class="sw-cms-el-preview-custom-product-video-description__video_description">
            <sw-cms-custom-product-video-description-preview />
        </div>
    </div>
{% endblock %}
