<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_custom_product_box_preview %}
    <div class="sw-cms-el-preview-custom-product-box">
        <sw-cms-custom-product-box-preview :has-text="false" />
    </div>
{% endblock %}
