{% block sw_cms_block_custom_image_text_video_preview %}
    <div class="sw-cms-preview-custom-image-text-video">
        <div class="sw-cms-preview-custom-image-text-video__content">
            <div class="sw-cms-preview-custom-image-text-video__image">
                <img
                    :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
                    alt=""
                >
            </div>
        </div>
        <div class="sw-cms-preview-custom-image-text-video__text">
            <h2>Custom Text image video</h2>
            <p>An English diarist and naval administrator. I served as administrator of the Royal Navy and Member of Parliament.</p>
        </div>
        <div class="sw-cms-preview-custom-image-text-video__video__content">
            <img
                class="sw-cms-preview-custom-image-text-video__img"
                :src="'/administration/static/img/cms/preview_youtube.jpg' | asset"
                alt=""
            >
            <img
                class="sw-cms-preview-custom-image-text-video__icon"
                :src="'/administration/static/img/cms/youtube-icon.png' | asset"
                alt=""
            >
        </div>
    </div>
{% endblock %}
