<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_task_list %}
<sw-page class="sw-task-list">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_task_list_search_bar %}
    <template #search-bar>
        <sw-search-bar
            initial-search-type="Task"
            :initial-search="term"
            @search="onSearch"
        />
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_task_list_smart_bar_header %}
    <template #smart-bar-header>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_task_list_smart_bar_header_title %}
        <h2>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_task_list_smart_bar_header_title_text %}
            {{ $tc('sw-task.list.textTaskOverview') }}
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_task_list_smart_bar_header_amount %}
            <span
                v-if="!isLoading"
                class="sw-page__smart-bar-amount"
            >
                ({{ total }})
            </span>
            {% endblock %}
        </h2>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_task_list_actions %}
    <template #smart-bar-actions>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_task_list_smart_bar_actions %}
        <sw-button
            v-tooltip.bottom="{
                message: $tc('sw-privileges.tooltip.warning'),
                disabled: acl.can('task.creator'),
                showOnDisabledElements: true
            }"
            :router-link="{ name: 'sw.task.create' }"
            :disabled="!acl.can('task.creator')"
            class="sw-task-list__add-task"
            variant="primary"
        >
            {{ $tc('sw-task.list.buttonAddTask') }}
        </sw-button>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_task_list_language_switch %}
    <template #language-switch>
        <sw-language-switch @on-change="onChangeLanguage" />
    </template>
    {% endblock %}

    <template #content>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_task_list_content %}
        <div class="sw-task-list__content">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_task_list_grid %}
            <sw-entity-listing
                v-if="entitySearchable"
                class="sw-task-list__grid"
                detail-route="sw.task.detail"
                :is-loading="isLoading"
                :columns="taskColumns"
                :repository="taskRepository"
                :items="tasks"
                :criteria-limit="limit"
                :sort-by="currentSortBy"
                :sort-direction="sortDirection"
                :disable-data-fetching="true"
                :allow-edit="acl.can('task.editor')"
                :allow-inline-edit="acl.can('task.editor')"
                :allow-delete="acl.can('task.deleter')"
                :show-selections="acl.can('task.deleter')"
                identifier="sw-task-list"
                @update-records="updateTotal"
                @page-change="onPageChange"
                @column-sort="onSortColumn"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_task_list_grid_columns_name_preview %}
                <template #preview-name="{ item }">
                    <sw-media-preview-v2 :source="item.mediaId" />
                </template>
                {% endblock %}
            </sw-entity-listing>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_task_list_empty_state %}
            <sw-empty-state
                v-if="!isLoading && !total && isValidTerm(term)"
                :title="$tc('sw-empty-state.messageNoResultTitle')"
            >
                <template #default>
                    {{ $tc('sw-empty-state.messageNoResultSublineBefore') }}
                    <router-link
                        class="sw-empty-state__description-link"
                        :to="{ name: 'sw.profile.index.searchPreferences' }"
                    >
                        {{ $tc('sw-empty-state.messageNoResultSublineLink') }}
                    </router-link>
                    {{ $tc('sw-empty-state.messageNoResultSublineAfter') }}
                </template>
            </sw-empty-state>
            {% endblock %}

            {# @deprecated tag:v6.5.0 - Will be removed #}
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_task_list_grid_loader %}{% endblock %}
        </div>
        {% endblock %}

    </template>
</sw-page>
{% endblock %}
