<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_blog_text %}
    <div class="sw-cms-block-blog-text">
        <slot name="content">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->

        </slot>
    </div>
{% endblock %}
