{% block ict_core_import_config %}
    <sw-page class="ict-core-import-config">
        {% block ict_core_import_config_header %}
            <template #smart-bar-header>
                <h2>
                    {{ $tc('ict-core-import-config.general.mainMenuItemGeneral') }}
                </h2>
            </template>
        {% endblock %}
        {% block ict_core_import_config_content %}
            <template #content>
                {% block ict_core_import_config_content_card %}
                    <sw-card-view>
                        {% block ict_core_import_config_content_card_innter %}
{#                            <sw-card>#}
{#                                <sw-button#}
{#                                    ref="ictCoreImportConfigContentProperty"#}
{#                                    id="ict_core_import_config_content_property"#}
{#                                    variant="primary"#}
{#                                    :square="false"#}
{#                                    :block="false"#}
{#                                    :isLoading="isLoading">#}
{#                                    {{ $tc('ict-core-import-config.detail.property') }}#}
{#                                </sw-button>#}
{#                            </sw-card>#}
{#                            <sw-card>#}
{#                                <sw-button#}
{#                                    ref="ictCoreImportConfigContentPropertyValue"#}
{#                                    id="ict_core_import_config_content_property_value"#}
{#                                    variant="primary"#}
{#                                    :square="false"#}
{#                                    :block="false"#}
{#                                    :isLoading="isLoading">#}
{#                                    {{ $tc('ict-core-import-config.detail.propertyValue') }}#}
{#                                </sw-button>#}
{#                            </sw-card>#}
{#                            <sw-card>#}
{#                                <sw-button#}
{#                                    @click="propertyFunction(0)"#}
{#                                    ref="ictCoreImportConfigContentCategory"#}
{#                                    id="ict_core_import_config_content_category"#}
{#                                    variant="primary"#}
{#                                    :square="false"#}
{#                                    :block="false"#}
{#                                    :isLoading="isLoading">#}
{#                                    {{ $tc('ict-core-import-config.detail.category') }}#}
{#                                </sw-button>#}
{#                                {{ incrementalValue }}#}
{#                            </sw-card>#}
                            <sw-card>
                                <sw-button
                                    @click="importCategory()"
                                    ref="ictCoreImportConfigContentCategory"
                                    id="ict_core_import_config_content_category"
                                    variant="primary"
                                    :square="false"
                                    :block="false"
                                    :isLoading="isCategoryLoading">
                                    {{ $tc('ict-core-import-config.detail.category') }}
                                </sw-button>
                                {{ importCategoryMessage }}
                            </sw-card>
                            <sw-card>
                                <sw-button
                                    @click="importMainProduct()"
                                    ref="ictCoreImportConfigContentMainProduct"
                                    id="ict_core_import_config_content_main_product"
                                    variant="primary"
                                    :square="false"
                                    :block="false"
                                    :isLoading="isProductLoading">
                                    {{ $tc('ict-core-import-config.detail.mainProduct') }}
                                </sw-button>
                                {{ importProductMessage }}

                            </sw-card>
                            <sw-card>
                                <sw-button
                                    @click="importVariantProduct()"
                                    ref="ictCoreImportConfigContentProductVariant"
                                    id="ict_core_import_config_content_product_variant"
                                    variant="primary"
                                    :square="false"
                                    :block="false"
                                    :isLoading="isVariantLoading">
                                    {{ $tc('ict-core-import-config.detail.productVariant') }}
                                </sw-button>
                                {{ importVariantMessage }}
                            </sw-card>
                        {% endblock %}
                        </sw-card>
                    </sw-card-view>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
