{% block sw_login_login %}
    {% block sw_login_login_username %}
        <div v-if="loginUserDiv">
            <form
            class="sw-login-login"
            @submit.prevent="createUserOtpWithEmail"
        >
            {% block sw_login_login_form_headline %}
                <h2 class="sw-login__content-headline">
                    {{ $tc('sw-login.index.headlineForm') }}
                </h2>
            {% endblock %}

            {% block sw_login_login_alert %}
                <sw-alert
                    v-if="showLoginAlert"
                    variant="info"
                    appearance="default"
                    :show-icon="true"
                    :closable="false"
                >
                    {{ loginAlertMessage }}
                </sw-alert>
            {% endblock %}

            {% block sw_login_login_user_field %}
                <sw-text-field
                    v-model="username"
                    v-autofocus
                    :label="$tc('sw-login.index.labelUsername')"
                    :placeholder="$tc('sw-login.index.placeholderUsername')"
                    :disabled="showLoginAlert"
                    required
                />
            {% endblock %}

            {% block sw_login_login_password_field %}

            {% endblock %}

            {% block sw_login_login_submit %}
                <div class="sw-login__submit">
                    {% block sw_login_login_forgot_password %}
                        <router-link
                            :to="{ name: 'sw.login.index.recovery' }"
                            class="sw-login__forgot-password-action"
                        >
                            {{ $tc('sw-login.index.forgottenPasswordLink') }}
                        </router-link>
                        {% block sw_login_verify_resend_otp %}
                            <div class="countdown"></div>
                            <div class="resendOtpBtn"></div>
                        {% endblock %}
                    {% endblock %}
                    {% block sw_login_login_submit_button %}
                        <sw-button
                            :disabled="username.length <= 0 || showLoginAlert"
                            class="sw-login__login-action"
                            variant="primary"
                        >
                            {{ $tc('sw-login.index.buttonSendOTP') }}
                        </sw-button>
                    {% endblock %}
                </div>
            {% endblock %}
        </form>
        </div>

        <div v-else-if="loginOtpDiv">
            <form  class="sw-login-login"
                   @submit.prevent="verifyOtpWithEmail">
                {% block sw_login_verify_form_headline %}
                    <h2 class="sw-login__content-headline">
                        {{ $tc('sw-login.verify.otpHeadlineForm') }}
                    </h2>
                {% endblock %}

                {% block sw_login_verify_alert %}
                    <sw-alert
                        v-if="showLoginAlert"
                        variant="info"
                        appearance="default"
                        :show-icon="true"
                        :closable="false"
                    >
                        {{ loginAlertMessage }}
                    </sw-alert>
                {% endblock %}

                {% block sw_login_verify_otp_field %}
                    <sw-text-field
                        v-model="otp"
                        v-autofocus
                        :label="$tc('sw-login.verify.labelOtp')"
                        :placeholder="$tc('sw-login.verify.placeholderOtp')"
                        :disabled="showLoginAlert"
                        required
                    />
                {% endblock %}
                {% block sw_login_verify_submit %}
                    <div class="sw-login__submit">
                        {% block sw_login_verify_submit_button %}
                            <sw-button
                                :disabled="otp.length <= 0 || showLoginAlert"
                                class="sw-login__login-action"
                                variant="primary"
                            >
                                {{ $tc('sw-login.index.buttonLogin') }}
                            </sw-button>
                        {% endblock %}
                    </div>
                {% endblock %}

            </form>
        </div>

    {% endblock %}

{% endblock %}
