<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block  sw_blog_list %}
    <sw-page class="sw-blog-list">
        {% block sw_blog_list_search_bar %}
            <template #search-bar>
                <sw-search-bar
                    initial-search-type="Blog"
                    :initial-search="term"
                    @search="onSearch"
                />
            </template>
        {% endblock %}
        {% block sw_blog_list_smart_bar_header %}
            <template #smart-bar-header>
                {% block sw_blog_list_smart_bar_header_title %}
                    <h2>
                        {% block sw_blog_list_smart_bar_header_title_text %}
                            {{ $tc('sw-blog.list.textBlogOverview') }}
                        {% endblock %}
                        {% block sw_blog_list_smart_bar_header_amount %}
                            <span
                                v-if="!isLoading"
                                class="sw-page__smart-bar-amount"
                            >
                                ({{ total }})
                            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}
        {% block sw_blog_list_actions %}
            <template #smart-bar-actions>
                {% block sw_blog_list_smart_bar_actions %}
                    <sw-button
                        v-tooltip.bottom="{
                            message: $tc('sw-privileges.tooltip.warning'),
                            disabled: acl.can('blog.creator'),
                            showOnDisabledElements: true
                        }"
                        :router-link="{ name: 'sw.blog.create' }"
                        :disabled="!acl.can('blog.creator')"
                        class="sw-blog-list__add"
                        variant="primary"
                    >
                        {{ $tc('sw-blog.list.buttonAddBlog') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}
        {% block sw_blog_list_language_switch %}
            <template #language-switch>
                <sw-language-switch @on-change="onChangeLanguage" />
            </template>
        {% endblock %}
        <template #content>
            {% block sw_blog_list_content %}
                <div class="sw-blog-list__content">
                    {% block sw_blog_list_grid %}
                        <sw-entity-listing
                            v-if="entitySearchable"
                            class="sw-blog-list_grid"
                            detail-route="sw.blog.detail"
                            :is-loading="isLoading"
                            :columns="blogColumns"
                            :repository="blogRepository"
                            :items="blogs"
                            :criteria-limit="limit"
                            :sort-by="currentSortBy"
                            :sort-direction="sortDirection"
                            :disable-data-fetching="true"
                            :allow-edit="acl.can('blog.editor')"
                            :allow-inline-edit="acl.can('blog.editor')"
                            :allow-delete="acl.can('blog.deleter')"
                            :show-selections="acl.can('blog.deleter')"
                            identifier="sw-blog-list"
                            @update-records="updateTotal"
                            @page-change="onPageChange"
                            @column-sort="onSortColumn"
                        >

                            {% block sw_blog_list_grid_columns_release_date %}
                                <template #column-releaseDate="{ item }">
                                   {{ item.releaseDate | date() }}
                                </template>
                            {% endblock %}

                        </sw-entity-listing>
                    {% endblock %}
                    {% block sw_blog_list_empty_state %}
                        <sw-empty-state
                            v-if="!isLoading && !total && isValidTerm(term)"
                            :title="$tc('sw-empty-state.messageNoResultTitle')"
                        >
                            <template #default>
                                {{ $tc('sw-empty-state.messageNoResultSublineBefore') }}
                                <router-link
                                    class="sw-empty-state__description-link"
                                    :to="{ name: 'sw.profile.index.searchPreferences' }"
                                >
                                    {{ $tc('sw-empty-state.messageNoResultSublineLink') }}
                                </router-link>
                                {{ $tc('sw-empty-state.messageNoResultSublineAfter') }}
                            </template>
                        </sw-empty-state>
                    {% endblock %}

                    {% block sw_task_list_grid_loader %}{% endblock %}
                </div>
            {% endblock %}
        </template>
    </sw-page>
{%  endblock %}
