{% block element_custom_product_video_description %}
    {%  set config = element.fieldConfig.elements %}

    <div class="cms-element-{{ element.type }}">
        {% block element_custom_product_video_description_alignment %}
            <div class="cms-element-alignment">
                {% block element_textcustom_product_video_description_inner %}
                    <h2>{{ element.data.product.translated.name|raw}}</h2>
                    {{ element.data.product.customFields.custom_product_video_description_video_description_first|raw }}
                {% endblock %}

            </div>
        {% endblock %}
    </div>
{% endblock %}
