{% block sw_cms_element_custom_youtube_video %}
    <div
        class="sw-cms-el-custom-youtube-video"
        :class="displayModeClass"
    >
        <iframe
            class="sw-cms-el-custom-youtube-video__video"
            :src="videoUrl"
        ></iframe>
    </div>
{% endblock %}
