{% block sw_cms_block_custom_product_youtube_video_description %}
    <div class="sw-cms-block-custom-product-youtube-video-description">
        <slot name="leftText">
            {% block sw_cms_block_custom_product_youtube_video_description_left_text %}{% endblock %}
        </slot>
        <div>
            <div class="sw-cms-block-custom-product-youtube-video-description__right">
                <slot name="rightVideoFirst">
                    {% block sw_cms_block_custom_product_youtube_video_description_right_video_first %}{% endblock %}
                </slot>
                <slot name="rightDescriptionFirst">
                    {% block sw_cms_block_custom_product_youtube_video_description_right_description_first %}{% endblock %}
                </slot>
            </div>
            <div class="sw-cms-block-custom-product-youtube-video-description__right">
                <slot name="rightVideoSecond">
                    {% block sw_cms_block_custom_product_youtube_video_description_right_video_second %}{% endblock %}
                </slot>
                <slot name="rightDescriptionSecond">
                    {% block sw_cms_block_custom_product_youtube_video_description_right_description_second %}{% endblock %}
                </slot>
            </div>
        </div>
    </div>
{% endblock %}
