{% block sw_cms_block_custom_product_youtube_video_description_preview %}
    <div class="sw-cms-preview-custom-product-youtube-video-description">
        <div class="sw-cms-preview-custom-product-youtube-video-description__image">
            <img
                :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                alt=""
            >
        </div>
        <div class="sw-cms-preview-custom-product-youtube-video-description__image__overlay"></div>
        <div class="sw-cms-preview-custom-product-youtube-video-description__content">

            <div class="sw-cms-preview-custom-product-youtube-video-description__text">
                <p>I served as administrator of the Royal Navy and Member of Parliament. </p>
            </div>
        </div>
        <div class="sw-cms-preview-custom-product-youtube-video-description__content_right_main">
            <div class="sw-cms-preview-custom-product-youtube-video-description__content_right">
                <div class="sw-cms-preview-youtube-video">
                    <img
                        class="sw-cms-preview-youtube-video__img"
                        :src="'/administration/static/img/cms/preview_youtube.jpg' | asset"
                        alt=""
                    >
                    <img
                        class="sw-cms-preview-youtube-video__icon"
                        :src="'/administration/static/img/cms/youtube-icon.png' | asset"
                        alt=""
                    >
                </div>
                <div class="sw-cms-preview-custom-product-youtube-video-description__text">
                    <p>An English diarist and naval administrator. </p>
                </div>
            </div>
            <div class="sw-cms-preview-custom-product-youtube-video-description__content_right">
                <div class="sw-cms-preview-youtube-video">
                    <img
                        class="sw-cms-preview-youtube-video__img"
                        :src="'/administration/static/img/cms/preview_youtube.jpg' | asset"
                        alt=""
                    >
                    <img
                        class="sw-cms-preview-youtube-video__icon"
                        :src="'/administration/static/img/cms/youtube-icon.png' | asset"
                        alt=""
                    >
                </div>
                <div class="sw-cms-preview-custom-product-youtube-video-description__text">
                    <p>An English diarist and naval administrator. </p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
