<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_text_preview %}
    <div class="sw-cms-preview-blog-text">
        <h2>Blog Title</h2>
        <p >First blog text</p>
    </div>
{% endblock %}
