{% block sw_cms_block_custom_product_video_description_listing %}
    {% set columns = 2 %}
    {% set id = element.id %}

    {% block sw_cms_block_custom_product_video_description_listing_left_author %}
        {% set element = block.slots.getSlot('leftAuthor') %}
        <div class="col-md-6" data-cms-element-id="{{ element.id }}">
            {% block sw_cms_block_custom_product_youtube_video_description_listing_left_author_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}
    {% block sw_cms_block_custom_product_video_description_listing_right_first %}
        {% set element = block.slots.getSlot('rightFirst') %}

        <div class="col-md-6" data-cms-element-id="{{ element.id }}">
            {% block sw_cms_block_custom_product_video_description_listing_right_first_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
