{% block sw_cms_custom_product_video_description_preview %}
    <div class="sw-cms-custom-product-video-description-preview">
        <div class="sw-cms-custom-product-video-description-preview__description">
            <h3>Product custom field</h3>
            This is custom product description...
        </div>
    </div>
{% endblock %}
