{% block sw_cms_block_custom_youtube_video %}
    <div class="sw-cms-block-custom-youtube-video">
        <slot name="customVideo">
            {% block sw_cms_block_custom_youtube_video_slot %}{% endblock %}
        </slot>
    </div>
{% endblock %}
