{% block sw_cms_block_custom_image_text_text_video %}
    <div class="sw-cms-block-custom-image-text-text-video">
        <slot name="firstImage">
            {% block sw_cms_block_custom_image_text_text_video_first_image %}{% endblock %}
        </slot>
        <slot name="firstText">
            {% block sw_cms_block_custom_image_text_text_video_first_text %}{% endblock %}
        </slot>
        <slot name="secondText">
            {% block sw_cms_block_custom_image_text_text_video_second_text %}{% endblock %}
        </slot>
        <slot name="videoContent">
            {% block sw_cms_block_custom_image_text_text_video_video_content %}{% endblock %}
        </slot>
    </div>
{% endblock %}
