<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_blog_text_image_preview %}
    <div class="sw-cms-preview-blog-text-image">
        <img
            :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
            alt=""
        >
        <div>
            <h2>First Text Image block</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
    </div>
{% endblock %}
