<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_image_blog_preview %}
    <div class="sw-cms-el-preview-image-blog">
        <img
            :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
            alt=""
        >
    </div>
{% endblock %}
